body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:azure;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 68px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
  color: purple
}
a {
  color: #00B7FF;
}

table, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 20%;
}

td {
  text-align: center;
}

.fuelAttr { 
  width: 120px; 
  text-align: centre;
} 